# Whenever this version string changes, the application is configured
# and rebuilt from scratch
VERSION = marconi-2016-09-06

CPP = cpp
FPP = cpp
CC  = gcc
CXX = g++
F77 = gfortran
F90 = gfortran

CPPFLAGS = -g
FPPFLAGS = -g -traditional
CFLAGS   = -g -std=gnu99
CXXFLAGS = -g
F77FLAGS = -g -m128bit-long-double -fcray-pointer -ffixed-line-length-none -fno-range-check
F90FLAGS = -g -m128bit-long-double -fcray-pointer -ffixed-line-length-none -fno-range-check

LDFLAGS = -rdynamic -L/cineca/prod/opt/libraries/szip/2.1/gnu--6.1.0/lib -L/cineca/prod/opt/libraries/lapack/3.6.1/gnu--6.1.0/lib -L/cineca/prod/opt/libraries/blas/3.6.0/gnu--6.1.0/lib

C_LINE_DIRECTIVES = yes
F_LINE_DIRECTIVES = yes

VECTORISE                = yes
VECTORISE_ALIGNED_ARRAYS = no
VECTORISE_INLINE         = no

DEBUG = no
CPP_DEBUG_FLAGS = -DCARPET_DEBUG
FPP_DEBUG_FLAGS = -DCARPET_DEBUG
C_DEBUG_FLAGS   = -O0
CXX_DEBUG_FLAGS = -O0
F77_DEBUG_FLAGS = -O0
F90_DEBUG_FLAGS = -O0

OPTIMISE = yes
CPP_OPTIMISE_FLAGS = # -DCARPET_OPTIMISE -DNDEBUG
FPP_OPTIMISE_FLAGS = # -DCARPET_OPTIMISE -DNDEBUG
C_OPTIMISE_FLAGS   = -O3 -funroll-loops
CXX_OPTIMISE_FLAGS = -O3 -funroll-loops
F77_OPTIMISE_FLAGS = -O3 -funroll-loops
F90_OPTIMISE_FLAGS = -O3 -funroll-loops

CPP_NO_OPTIMISE_FLAGS  = 
FPP_NO_OPTIMISE_FLAGS  = 
C_NO_OPTIMISE_FLAGS    = -O0
CXX_NO_OPTIMISE_FLAGS  = -O0
CUCC_NO_OPTIMISE_FLAGS =
F77_NO_OPTIMISE_FLAGS  = -O0
F90_NO_OPTIMISE_FLAGS  = -O0

PROFILE = no
CPP_PROFILE_FLAGS =
FPP_PROFILE_FLAGS =
C_PROFILE_FLAGS   = -pg
CXX_PROFILE_FLAGS = -pg
F77_PROFILE_FLAGS = -pg
F90_PROFILE_FLAGS = -pg

OPENMP           = yes
CPP_OPENMP_FLAGS = -fopenmp
FPP_OPENMP_FLAGS = -fopenmp
C_OPENMP_FLAGS   = -fopenmp
CXX_OPENMP_FLAGS = -fopenmp
F77_OPENMP_FLAGS = -fopenmp
F90_OPENMP_FLAGS = -fopenmp

WARN           = yes
CPP_WARN_FLAGS =
FPP_WARN_FLAGS =
C_WARN_FLAGS   =
CXX_WARN_FLAGS =
F77_WARN_FLAGS =
F90_WARN_FLAGS =



BLAS_DIR  = /cineca/prod/opt/libraries/blas/3.6.0/gnu--6.1.0
BLAS_LIB_DIRS = /cineca/prod/opt/libraries/blas/3.6.0/gnu--6.1.0/lib
BLAS_LIBS = cblas blas

BOOST_DIR = /cineca/prod/opt/libraries/boost/1.61.0/gnu--6.1.0
#BOOST_DIR = BUILD

GSL_DIR = BUILD

HDF5_DIR = /cineca/prod/opt/libraries/hdf5/1.8.17/gnu--6.1.0

HWLOC_DIR = /cineca/prod/opt/libraries/hwloc/1.11.3/gnu--6.1.0

LAPACK_DIR  = /cineca/prod/opt/libraries/lapack/3.6.1/gnu--6.1.0
LAPACK_LIB_DIRS = /cineca/prod/opt/libraries/lapack/3.6.1/gnu--6.1.0/lib
LAPACK_LIBS = lapack

MPI_DIR  = /cineca/prod/opt/compilers/openmpi/1-10.3/gnu--6.1.0

OPENBLAS_DIR  = NO_BUILD

PTHREADS_DIR = NO_BUILD
PTHREADS_LIBS = pthread
