# Whenever this version string changes, the application is configured
# and rebuilt from scratch
VERSION = perseus-2016-09-15

CPP = cpp
FPP = cpp 
CC  = gcc
CXX = g++
F77 = gfortran
F90 = gfortran

CPPFLAGS = -g -DMPICH_IGNORE_CXX_SEEK
FPPFLAGS = -g -traditional
CFLAGS   = -g -march=native -std=gnu99
CXXFLAGS = -g -march=native -std=gnu++11
F77FLAGS = -g -m128bit-long-double -march=native -fcray-pointer -ffixed-line-length-none -fno-range-check
F90FLAGS = -g -m128bit-long-double -march=native -fcray-pointer -ffixed-line-length-none -fno-range-check

LDFLAGS = -L/usr/local/openmpi/1.10.2/gcc/x86_64/lib64 -L/usr/local/lib64/openmpi -lnuma

C_LINE_DIRECTIVES = yes
F_LINE_DIRECTIVES = yes

VECTORISE                = yes
VECTORISE_ALIGNED_ARRAYS = no
VECTORISE_INLINE         = no

DEBUG = no
CPP_DEBUG_FLAGS = -DCARPET_DEBUG
FPP_DEBUG_FLAGS = -DCARPET_DEBUG
C_DEBUG_FLAGS   = -O0 -fbounds-check -fstack-protector-all
CXX_DEBUG_FLAGS = -O0 -fbounds-check -fstack-protector-all
F77_DEBUG_FLAGS = -O0 -fbounds-check -fstack-protector-all
F90_DEBUG_FLAGS = -O0 -fbounds-check -fstack-protector-all

OPTIMISE = yes
CPP_OPTIMISE_FLAGS = # -DCARPET_OPTIMISE -DNDEBUG
FPP_OPTIMISE_FLAGS = # -DCARPET_OPTIMISE -DNDEBUG
C_OPTIMISE_FLAGS   = -Ofast -funroll-loops 
CXX_OPTIMISE_FLAGS = -Ofast -funroll-loops
F77_OPTIMISE_FLAGS = -Ofast -funroll-loops
F90_OPTIMISE_FLAGS = -Ofast -funroll-loops

CPP_NO_OPTIMISE_FLAGS  = 
FPP_NO_OPTIMISE_FLAGS  = 
C_NO_OPTIMISE_FLAGS    = -O0
CXX_NO_OPTIMISE_FLAGS  = -O0
CUCC_NO_OPTIMISE_FLAGS =
F77_NO_OPTIMISE_FLAGS  = -O0
F90_NO_OPTIMISE_FLAGS  = -O0

PROFILE = no
CPP_PROFILE_FLAGS =
FPP_PROFILE_FLAGS =
C_PROFILE_FLAGS   = -pg
CXX_PROFILE_FLAGS = -pg
F77_PROFILE_FLAGS = -pg
F90_PROFILE_FLAGS = -pg

OPENMP           = yes
CPP_OPENMP_FLAGS = -fopenmp
FPP_OPENMP_FLAGS = -fopenmp
C_OPENMP_FLAGS   = -fopenmp
CXX_OPENMP_FLAGS = -fopenmp
F77_OPENMP_FLAGS = -fopenmp
F90_OPENMP_FLAGS = -fopenmp

WARN           = yes
CPP_WARN_FLAGS =
FPP_WARN_FLAGS =
C_WARN_FLAGS   =
CXX_WARN_FLAGS =
F77_WARN_FLAGS =
F90_WARN_FLAGS =



BLAS_DIR  = BUILD

BOOST_DIR = /usr

GSL_DIR = /usr

HDF5_DIR = /usr/local/hdf5/gcc/1.8.16

HWLOC_DIR = /usr

FFTW3_DIR = /usr/local/fftw/gcc/3.3.4/

LAPACK_DIR  = BUILD

MPI_DIR  = /usr/local/openmpi/1.10.2/gcc/x86_64
MPI_LIBS = mpi mpi_cxx mpi_mpifh

OPENBLAS_DIR  = BUILD

PTHREADS_DIR = /usr
