# Configuration file for the TIFPA-INFN machine 'theoserv' in Trento

# Whenever this version string changes, the application is configured
# and rebuilt from scratch
VERSION = 2025-06-20

CPP = cpp
FPP = cpp
CC  = gcc
CXX = g++
F77 = gfortran
F90 = gfortran

FPPFLAGS = -traditional

CPPFLAGS =
FPPFLAGS =
CFLAGS   = -g -std=gnu99
CXXFLAGS = -g -std=gnu++17
F77FLAGS = -g -fcray-pointer -m128bit-long-double -ffixed-line-length-none -fno-range-check
F90FLAGS = -g -fcray-pointer -m128bit-long-double -ffixed-line-length-none -fno-range-check

LDFLAGS = -rdynamic

DEBUG           = no
CPP_DEBUG_FLAGS = -DCARPET_DEBUG -DHRSCC_DEBUG -DTHC_DEBUG -DCPPUTILS_DEBUG
FPP_DEBUG_FLAGS = -DCARPET_DEBUG -DHRSCC_DEBUG -DTHC_DEBUG -DCPPUTILS_DEBUG
C_DEBUG_FLAGS   = -O0
CXX_DEBUG_FLAGS = -O0
F77_DEBUG_FLAGS = -O0
F90_DEBUG_FLAGS = -O0

OPTIMISE           = yes
CPP_OPTIMISE_FLAGS =
FPP_OPTIMISE_FLAGS =
C_OPTIMISE_FLAGS   = -O3
CXX_OPTIMISE_FLAGS = -O3
F77_OPTIMISE_FLAGS = -O3
F90_OPTIMISE_FLAGS = -O3

PROFILE           = no
CPP_PROFILE_FLAGS =
FPP_PROFILE_FLAGS =
C_PROFILE_FLAGS   = -pg
CXX_PROFILE_FLAGS = -pg
F77_PROFILE_FLAGS = -pg
F90_PROFILE_FLAGS = -pg

OPENMP           = yes
CPP_OPENMP_FLAGS = -fopenmp
FPP_OPENMP_FLAGS = -D_OPENMP
C_OPENMP_FLAGS   = -fopenmp
CXX_OPENMP_FLAGS = -fopenmp
F77_OPENMP_FLAGS = -fopenmp
F90_OPENMP_FLAGS = -fopenmp

WARN           = yes
CPP_WARN_FLAGS = -w #-Wall
FPP_WARN_FLAGS = -w #-Wall
C_WARN_FLAGS   = -w #-Wall
CXX_WARN_FLAGS = -w #-Wall
F77_WARN_FLAGS = -w #-Wall
F90_WARN_FLAGS = -w #-Wall

PTHREADS_DIR = NO_BUILD

MPI_DIR    = /home/shared_ro/spack/opt/spack/linux-debian10-x86_64/gcc-13.2.0/openmpi-4.1.5-xuww6akixcesu4tghmux67dxa32g33dl
BOOST_DIR  = /home/shared_ro/spack/opt/spack/linux-debian10-x86_64/gcc-13.2.0/boost-1.82.0-uccyyco3zr3igjjj3khbwhdtxhk6mzns
# BOOST_LIB_DIRS = /usr
FFTW_DIR   = /home/shared_ro/spack/opt/spack/linux-debian10-x86_64/gcc-13.2.0/fftw-3.3.10-fbxli6mb72ffsarfdctjcwy7x77gtw44
GSL_DIR    = /home/shared_ro/spack/opt/spack/linux-debian10-x86_64/gcc-13.2.0/gsl-2.7.1-b7yclx2izb6vvs6zu6bmi6di5cvnzomi
HDF5_LIBS  = hdf5 hdf5_fortran hdf5_hl
# HDF5_DIR = /home/shared_ro/spack/opt/spack/linux-debian10-x86_64/gcc-8.3.0/hdf5-1.14.1-2-b72u5yko5iley4gzduke4bysvre57qfq
HDF5_INC_DIRS = /home/shared_ro/spack/opt/spack/linux-debian10-x86_64/gcc-8.3.0/hdf5-1.14.1-2-b72u5yko5iley4gzduke4bysvre57qfq/include
HDF5_LIB_DIRS = /home/shared_ro/spack/opt/spack/linux-debian10-x86_64/gcc-8.3.0/hdf5-1.14.1-2-b72u5yko5iley4gzduke4bysvre57qfq/lib
ZLIB_DIR   = /home/shared_ro/spack/opt/spack/linux-debian10-x86_64/gcc-13.2.0/zlib-1.2.13-4tvntoyticw2gm25xmdukovqm3jhpuvt
HWLOC_DIR  = /home/shared_ro/spack/opt/spack/linux-debian10-x86_64/gcc-13.2.0/hwloc-2.9.1-zpspjikqh5ttqundsphhid7xz5zybq3f
# LAPACK_DIR = /usr
# BLAS_DIR = /usr
OPENBLAS_DIR = /home/shared_ro/spack/opt/spack/linux-debian10-x86_64/gcc-13.2.0/openblas-0.3.23-unrkhr5vzrkjgojpc4yevl6a4ti6ffmv
